# Project Files
token.txt
./token.txt
.env*
env/
!.env.example
.DO_NOT_DELETE.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff
instance/
.webassets-cache
test.py
