# Project Files
token.txt
./token.txt
.env*
env/
env*/
!.env.example
.DO_NOT_DELETE.txt
logs/
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff
instance/
.webassets-cache
test.py

# Database stuff
*dev*.db*
