discord.py==2.4.0
yt-dlp==2025.1.26 
discord.py[voice]
loguru==0.7.3 
Faker==25.2.0 
faker-vehicle==0.2.0 
beautifulsoup4==4.12.3
pocketbase==0.14.0
leet==0.1.2
click==8.1.8
requests==2.32.3
python-dotenv==1.0.1